{
    "$schema": "https://raw.githubusercontent.com/EmmyLuaLs/emmylua-analyzer-rust/refs/heads/main/crates/emmylua_code_analysis/resources/schema.json",
    "workspace": {
        "library": [
            "c:\\Program Files (x86)\\Steam\\steamapps\\common\\Factorio\\data",
            "w:\\workspaces\\Factorio"
        ],
        "moduleMap": [
            {
                "pattern": "^(.*)$",
                "replace": "__###NAME###__.$1"
            }
        ]
    }
}
